#button-wrapper {
    text-align: center;
    position: relative;
    margin-top: 5%;
}

#start-activity-button {
    width: 100px;
    height: 100px;
}

#status {
    margin: 20px;
    text-align: center;
}